In [2]:
n=[1,2,3,4,5,6]
sq_n=[]
for i in n:
    sq_n.append(i**2)
sq_n

[1, 4, 9, 16, 25, 36]

In [1]:
results=[i**2 for i in range (1,10)]
results

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
# function for odd or even
def evenodd(n):
    if n%2==0:
        return True
    else:
        return False
        
num=[1,2,3,4,5,6,7,8,9]
even=[]
odd=[]
for i in num:
    c=evenodd(i)
    if c==True:
        even.append(i)
    else:
        odd.append(i)

In [8]:
even

[2, 4, 6, 8]

odd

In [11]:
# using list comprehension
number=[1,2,3,4,5,6,7,8,9,12342]
result=["even" if i%2==0 else "odd" for i in number]    # syntax [return_value if_condition_return_value for_loop]
result

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [14]:
s="APSSDC mstp"
res=[letter.swapcase() for letter in s] # isupper() islower() isalpha() isdigit() 
res                                 # upper() lower() swapcase()

['a', 'p', 's', 's', 'd', 'c', ' ', 'M', 'S', 'T', 'P']

In [17]:
para=["sa sdsd","asd ada","das dfsa","saf sadda","asf as"]
wordlist=[]
for sentence in para:
    print(sentence)

sa sdsd
asd ada
das dfsa
saf sadda
asf as

In [19]:
para=["sas dsd","a sdada","dasdf sa","safsad da","asfa s"]
wordlist=[]
for i in para:
    for word in i.split():
        wordlist.append(word)
print( wordlist)

['sas', 'dsd', 'a', 'sdada', 'dasdf', 'sa', 'safsad', 'da', 'asfa', 's']

In [20]:
para=["sas dsd","a sdada","dasdf sa","safsad da","asfa s"]
res=[word for sentence in para for word in sentence.split()]
print(res)

['sas', 'dsd', 'a', 'sdada', 'dasdf', 'sa', 'safsad', 'da', 'asfa', 's']

In [21]:
def cube(n):
    return n**3
li=[1,2,3,4,5,101,123,143]
n=[cube(i) for i in li]
print(n)

[1, 8, 27, 64, 125, 1030301, 1860867, 2924207]

In [24]:
s='gq87truj3h94yhwuiyer8fyhegy8'
k=[i for i in  s if i.isalpha()]
print(k)
sum([int(i) for i in s if i.isdigit()])

['g', 'q', 't', 'r', 'u', 'j', 'h', 'y', 'h', 'w', 'u', 'i', 'y', 'e', 'r', 'f', 'y', 'h', 'e', 'g', 'y']

47

In [28]:
name=['chaitanya','kishore','sai','cheukuri','omkar','mukesh'] # startswith() endswith()
print([i for i in name if i.startswith("ch")])
print([i for i in name if i.endswith("i")])

['chaitanya', 'cheukuri']
['sai', 'cheukuri']

In [29]:
name=['chaitanya','kishore','sai','cheukuri','omkar','mukesh']
[i.capitalize() for i in name]

['Chaitanya', 'Kishore', 'Sai', 'Cheukuri', 'Omkar', 'Mukesh']

In [31]:
name=['chaitanya','kishore','sai','cheukuri kishore','omkar','mukesh']
[i.title() for i in name]

['Chaitanya', 'Kishore', 'Sai', 'Cheukuri Kishore', 'Omkar', 'Mukesh']

In [32]:
name=['chaitanya','kishore','sai','cheukuri','omkar','mukesh']
[i for i in name if len(i)==5]

['omkar']

In [39]:
sentence='India is my contry'
print([i for i in sentence.split() if i.startswith("i") or i.startswith("I")])
print(" ".join([i for i in sentence.split() if i.startswith("i") or i.startswith("I")]))

['India', 'is']
India is

# dictionery comprehension

In [41]:
d={'k':"v21","k2":"v2"}
print(d["k"])

v21

In [45]:

# square of diff numbers
res={i:i**2 for i in range(1,101)}
print(res)
res1={i**2 for i in range(1,101)}
print(res1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}
{1024, 1, 4096, 9216, 4, 9, 16, 529, 3600, 4624, 25, 36, 2601, 49, 7225, 3136, 64, 576, 1089, 1600, 2116, 5184, 6724, 7744, 9801, 81, 8281, 6241, 100, 625, 121, 4225, 1156, 8836, 3721, 144, 1681, 2704, 5776, 4761, 2209, 676, 169, 3249, 9409, 196, 1225, 5329, 729, 225, 1764, 7396, 6889, 7921, 2809, 256, 2304, 6400, 3844, 4356, 784, 1296, 8464, 10000, 289, 3364, 4900, 5929, 1849, 9025, 324, 841, 1369, 2401, 2916, 5476, 361, 3969, 900, 9604, 4489, 400, 1936, 7056, 7569, 3481, 6561, 1444, 8100, 5041, 441, 961, 2500, 6084, 8649, 3025, 484, 2025, 1521, 5625}

In [46]:
res2={i:i**2 for i in range(1,101) if i%2==0}
print(res2)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400, 22: 484, 24: 576, 26: 676, 28: 784, 30: 900, 32: 1024, 34: 1156, 36: 1296, 38: 1444, 40: 1600, 42: 1764, 44: 1936, 46: 2116, 48: 2304, 50: 2500, 52: 2704, 54: 2916, 56: 3136, 58: 3364, 60: 3600, 62: 3844, 64: 4096, 66: 4356, 68: 4624, 70: 4900, 72: 5184, 74: 5476, 76: 5776, 78: 6084, 80: 6400, 82: 6724, 84: 7056, 86: 7396, 88: 7744, 90: 8100, 92: 8464, 94: 8836, 96: 9216, 98: 9604, 100: 10000}

In [50]:
num=[1,2,3,4,5,6,7,8,100]
text=['one',"two","three","four","five","six","seven","eight","hundred"]
o={k:v for k,v in zip(num,text)}
print(o)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 100: 'hundred'}

In [58]:
al=["apple","ball","cat","donkey","elephant"]
o={i[0].upper():i.capitalize() for i in al}
print(o)

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Donkey', 'E': 'Elephant'}

# tuple comprehension

In [3]:
res=tuple((i**2 for i in range (1,19)))
print(res)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324)